<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/app.css?v=1.0">
    <script src="js/jquery.js"></script>
    <!-- <script type="text/javascript" src="js/paper-full.js"></script>
    <script type="text/javascript" src="js/voronoi.js"></script> -->
    <!-- <script type="text/javascript" src="js/bubbles.js"></script> -->
    <script src="js/d3.min.js"></script>
  </head>

  <body>
    <!-- <div class="canvas">
      <canvas resize="true" id="canvas-1" width="390" height="1136" data-paper-scope="1" style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
    </div> -->

    <div id="root"></div>
    <script src="js/bubbles.js"></script>
    <!-- <script type="text/paperscript" canvas="voronoi" src="js/index.js"></script> -->
  </body>
</html>
